.hårplejebody {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #294036;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.productHÅR {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  width: 300px;
  background-color: white;
}
img {
  width: 75%;
  left: 10%;
}
