@media (min-width: 800px) {
  header {
    gap: 30px;
  }
  nav {
    background-color: rgb(227, 126, 19);
    /*background-image: url("../img/navpic.png");*/
    background-size: cover;
    background-repeat: no-repeat;
  }
  .topmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    list-style: none;
    justify-content: space-evenly;
    margin: 15px;
  }
  .smalllogo {
    max-width: 100%;
    max-height: 6rem;
    margin-right: 10px;
  }
  .searchbar {
    display: flex;
    align-items: center;
  }
  .searchbar input {
    padding: 8px;
    margin-right: 5px;
    border: 1px;
  }
  .round-box {
    position: relative;
    margin: 20px 0;
    text-align: center;
  }
  .round-box img {
    width: 100%;
    height: auto;
    display: block;
  }
  .round-box p {
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 40px;
  }
}
