body {
  background-color: #a0a582;
}

nav {
  background-image: url(img/banner.svg);
  background-size: cover;
  width: auto;
  height: 70px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #ffcc00;
}

.banner {
  width: 100%;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.roza {
  width: 74%;
  margin-right: -7%;
  height: auto;
}

.overskrift {
  color: #9a4f2e;
  margin-left: 45%;
}

.underskrift {
  color: #294036;
  margin-left: -26%;
}

p {
  color: #294036;
  text-align: justify;
  line-height: 1.5;
}

.col1 {
  flex: 1;
  overflow: hidden;
  padding: 2% 7% 0% 15%;
  text-align: center;
  line-height: 2;
}

.order {
  flex: 1;
  padding: 2% 15% 0% 7%;
  text-align: center;
  line-height: 2;
}

.order2 {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 2% 0% 3% 21%;
  text-align: center;
  line-height: 2;
}

.col2 {
  flex: 1;
  overflow: hidden;
  padding: 2% 17% 0% 13%;
  text-align: center;
  line-height: 2;
}

/* Footer*/

footer {
  background-color: #d0b590;
  color: #a26a41;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -11px;
  margin-right: -9px;
  margin-top: 26px;
}

.column {
  flex: 1;
  margin: 0 20px;
  max-width: 300px;
}

.column h1 {
  font-size: 1.5em;
}

.icons {
  display: flex;
  justify-content: start;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter input {
  padding: 3px;
  margin-top: -4px;
  width: 80%;
  margin-left: -54px;
}

.newsletter button {
  padding: 10px;
  background-color: #a26a41;
  color: #d0b590;
  border: none;
  cursor: pointer;
  margin-right: -287px;
  margin-top: -31px;
}

.nyhed {
  margin-left: -182px;
}

.info {
  color: #a26a41;
  margin-top: -8px;
}
